xsd/esquema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="facturas">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="factura" minOccurs="1" maxOccurs="10"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="factura">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="codigo" type="xs:string"/>
        <xs:element ref="comprador"/>
        <xs:element ref="expedicion"/>
        <xs:element name="forma_pago" type="xs:string"/>
        <xs:element ref="servicios"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="comprador">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tipo" type="xs:string"/>
        <xs:element name="nombre" type="xs:string"/>
        <xs:element ref="identificacion"/>
        <xs:element name="contacto" type="xs:string"/>
        <xs:element name="correo" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="identificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tipo" type="xs:string"/>
        <xs:element name="numero" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="expedicion">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="fecha"/>
        <xs:element name="hora" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="dia" type="xs:string"/>
        <xs:element name="mes" type="xs:string"/>
        <xs:element name="año" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="servicios">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="servicio" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="servicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre" type="xs:string"/>
        <xs:element name="valor" type="xs:integer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
